<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Upload - WeldGuard</title>
</head>

<body>
    <header>
        <img src="/static/uploads/powertechic.jpg" alt="Company Logo" class="logo">
        <h1>WeldGuard Detection System</h1>
    </header>
    <main>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload and Analyze</button>
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </main>
</body>

</html>